<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Korelasi Kategori Risiko
      <a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
    </p>
  </div>
  <div class="panel-body row">
      <div obo-table-subrisk>
        <div class="row">
          <div class="col-md-6" style="margin-bottom: 15px;">
              <table class="table-risk-matrix">
                  <tr class="td-risk-matrix" style="background-color: #f0f0f0;">
                      <% _.each(CorrelationMatrix, function(item) { %>
                      <td class="td-risk-matrix" style="padding: 5px">
                          <%= item.NamaCorrelationMatrix %>
                      </td>
                      <% }) %>
                  </tr>
                  <tr class="td-risk-matrix">
                      <% _.each(CorrelationMatrix, function(item) { %>
                      <td class="td-risk-matrix text-center">
                          <%= item.Nilai %>
                      </td>
                      <% }) %>
                  </tr>
              </table>
          </div>
          <div class="col-md-3" style="margin-bottom: 15px;" nama-scenario>
              Skenario: <%= NamaScenario %>
          </div>
          <div class="col-md-3" style="margin-bottom: 15px;" nama-sektor>
              Sektor: <%= NamaSektor %>
          </div>
          <div class="col-md-3" style="margin-bottom: 15px;" nama-status>
              
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 scrollable-matrix">
              <div class="table-mat">
                  <div class="heading-mat">
                      <div class="cell-mat">
                          <p>Kode</p>
                      </div>
                      <div class="cell-mat">
                          <p>Nama</p>
                      </div>
                      <% _.each(RiskRegistrasi, function(item) { %>
                      <div class="cell-mat" data-heading-risk="<%= item.KodeMRisk %>">
                          <p><%= item.KodeMRisk %></p>
                      </div>
                      <% }) %>
                  </div>
                  <% _.each(RiskRegistrasi, function(item) { %>
                  <div class="row-mat" data-risk-row="<%= item.KodeMRisk %>">
                      <div class="cell-mat text-center">
                          <p><%= item.KodeMRisk %></p>
                      </div>
                      <div class="cell-mat">
                          <p><%= item.NamaCategoryRisk %></p>
                      </div>
                      <% _.each(RiskRegistrasi, function(model) { %>
                      <div class="cell-mat text-center" data-cell-risk="<%= item.Id %>-<%= model.Id %>" data="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>">
                          <% if(item.KodeMRisk == model.KodeMRisk) { status = true %>
                          <select style="background-color: lightgrey;" cormat data-correlation-matrix="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>" data-cormat="<%= item.Id %>-<%= model.Id %>" disabled>
                              <option value="1">1</option>
                          </select>
                          <% } else { %>
                          <select cormat data-correlation-matrix="<%= item.KodeMRisk %>-<%= model.KodeMRisk %>" data-cormat="<%= item.Id %>-<%= model.Id %>">
                              <% _.each(CorrelationMatrix, function(corMat) { %>
                              <option value="<%= corMat.Id %>"><%= corMat.Nilai %></option>
                              <% }) %>
                          </select>
                          <% } %>
                      </div>
                      <% }) %>
                  </div>
                  <% }) %>
              </div>
          </div>
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
    <button type="submit" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
    </div>
</div>