<ul class="breadcrumb">
    <li>Master Data</li>
    <li class="active">Ambang Batas Risiko (Treshold)</li>
</ul>
<div class="col-md-12">
    <div class="col-md-8">
        <div class="col-md-3 kw-single-filter-text">
            <select class='form-control' id="keyIndex">
                <option value='1'>Matrix</option>
                <option value='2'>Formula</option>
                <option value='3'>Nama Skenario</option>
                <option value='4'>Definisi</option>
                <option value='5'>Nilai Maksimum</option>
                <option value='6'>Nilai Minimum</option>
                <option value='7'>Komentar</option>
            </select>
        </div>
        <div class="col-md-3 kw-single-filter-text">
            <input type="text" placeholder="Search" class='form-control' id="keyword" />
        </div>
        <div class="col-md-2 kw-single-filter-btn">
            <button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
        </div>
    </div>
    <div class="col-md-4 pull-right kw-btn-add-position">
        <button class="btn btn-primary pull-right hide" name="add">Ubah</button>
    </div>
</div>

<div class="card" obo-table-sublikelihood>
</div>
<div class="pull-right" obo-paging>
</div>
