<thead>
  <tr>
      <th>Asset Class</th>
      <th>Term Awal</th>
      <th>Term Akhir</th>
      <th>Diluar Tahun Awal</th>
      <th>Diluar Tahun akhir</th>
      <th>Nilai Asset</th>
      <th>Proposi</th>
      <th>Asumsi Persentase</th>
      <th>Diasumsikan Kembali</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
