<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Parameter</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Parameter*</label>
            <div class="col-md-8">
              <input type="text" value="<%= NamaLikehood %>" class="form-control" name="NamaLikehood">
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-md-4 control-label">Incres (%) *</label>
            <div class="col-md-8">
              <input type="text" value="<%= Incres %>" class="form-control" name="Incres">
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
