<td>
    <%= NamaScenario %>
</td>
<td>
    <%= SourceApproval %>
</td>
<td>
    <%= NamaEntitas %>
</td>
<td>
    <%= NamaPembuat %>
</td>
<td>
    <%= Status.StatusDescription %>
    <!--<% if(StatusId == 2) { %>
        <span class="label label-success">Disetujui</span>
    <% } else if (StatusId == null) { %>
        <span class="label label-default">Draft</span>
    <% } else if (StatusId == 3) { %>
        <span class="label label-danger">Tidak Disetujui</span>
    <% } else { %>
        <span class="label label-warning">Proses Approval</span>
    <% } %>-->
</td>
<td class="text-center">
    <!-- <a class="btn btn-link" href="<% print(`${window.location.hash}/${Id}`); %>">Detail</a> -->
    <span>
        <% if(SourceApproval == "Scenario") { %>
            <button type="button" class="btn btn-link" lang="<%= SourceApproval %>" value="<%= RequestId %>" name="detail" data-backdrop="static"
                data-keyboard="false">Open</button>
            <% } else if(SourceApproval == "RiskMatrixProject") { %>
                <button type="button" class="btn btn-link" lang="<%= SourceApproval %>" value="<%= RequestId %>" name="detail">Open</button>
                <% } else if (SourceApproval == "CorrelatedSektor") { %>
                    <button type="button" class="btn btn-link" lang="<%= SourceApproval %>" value="<%= RequestId %>" name="detail">Open</button>
                    <% } else if (SourceApproval == "CorrelatedProject") { %>
                        <button type="button" class="btn btn-link" lang="<%= SourceApproval %>" value="<%= RequestId %>" name="detail">Open</button>
                        <% } %>

    </span>
</td>