<thead>
  <tr>
      <th>Kode Risiko</th>
      <th>Kategori Risiko</th>
      <th>Definisi</th>
      <th>Minimum (%)</th>
      <th>Maximum (%)</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
