<td>
    <%= Id %>
</td>
<td>
    <%= MenuId %>
</td>
<td>
    <%= TableModified %> 
</td>
<td>
    <%= DataObjekId %> 
</td>
<td>
    <%= ColumnModified %> 
</td>
<td>
    <%= DataAwal %> 
</td>
<td>
    <%= DataAkhir %> 
</td>
<td style="width:100px;">
    <%= LogTimestamp %> 
</td>
<td>
    <%= ModifiedBy %>     
</td>
<td>
    <%= Aksi %>
</td>