<thead>
  <tr>
    <th>No</th>
    <th>Menu</th>
    <th>Table Modified</th>
    <th>Nama Objek</th>
    <th>Kolom Modifikasi</th>
    <th>Data Awal</th>
    <th>Data Akhir</th>
    <th>Waktu Modifikasi</th>
    <th>Dimodifikasi Oleh</th>
    <th>Aksi</th>
  </tr>
</thead>
<tbody></tbody>