<ul class="breadcrumb">
	<li>Master</li>
	<li>Parameter</li>
	<li class="active">Info</li>
</ul>
<div class="panel panel-default">
	<div class="panel-heading clean">
		<p class="panel-title">
			Info Parameter
			<a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
		</p>
	</div>
	<div class="panel-body row">
		<div class="card" obo-table-sublikelihood>
			<div class="col-md-6" style="margin-bottom: 15px;">
				<div class="row">
					<div class="col-md-5">Nama Parameter</div>
					<div class="col-md-7" name="NamaLikehood">
						<%= NamaLikehood %>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="margin-bottom: 15px;">
				<p class="panel-title">
				</p>
			</div>
		</div>
		<div obo-paging class="pull-right">
		</div>
	</div>
</div>