<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Set Default Skenario</h5>
    </div>
    <div class="modal-body">
      Apakah Anda yakin menjadi default  <b><%= NamaScenario %></b>?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" name="setdefault">Iya</button>
    </div>
  </div>
</form>
