<td class="text-center"><span style="background-color:<%= Warna %>; color: <%= Warna %>;">__________</span></td>
<td class="text-center">
  <span>
    <a class="btn btn-link hide" btn-detail href="<% print(`${window.location.hash}/${Id}`); %>">Info</a>
  </span>
</td>
<script lang="javascript">
	let roles = JSON.parse(localStorage.getItem('roles'));
	if (roles) {
	  $.grep(roles, function(item) {
		if (item.Name.trim() == "Master") {
		  if (item.SubMenu) {
			_.each(item.SubMenu, function(val) {
				switch (val.Name) {
				  case "Master-Komentar":
					  if (val.SubMenu) {
						  _.each(val.SubMenu, function(item) {
							  switch(item.Action) {
								case "detail":
								  self.$('[btn-detail]').removeClass('hide');
								  break;
							  }
						  });
					  }
					  break;
				}
			});
		  }
		}
	  });
	}
  </script>
