<div class="page-sidebar">
  <ul class="x-navigation" style="height: 1300px;">
    <li class="xn-logo">
      <a href=""></a>
      <a href="" class="x-navigation-control"></a>
    </li>
    <li class="xn-openable hide" dashboard>
      <a href="#" onClick="event.preventDefault()" oncontextmenu="return false;">
        <span class="fa fa-desktop"></span>
        <span class="xn-text">Dashboard</span>
      </a>
      <ul>
        <li main-dashboard class="hide">
          <a href="#dashboard/main_dashboard">Main Dashboard</a>
        </li>
        <li dashboard-calculation class="hide">
          <a href="#dashboard/calculation">Kalkulasi</a>
        </li>
        <li dashboard-result class="hide">
          <a href="#dashboard/result">Detail Result</a>
        </li>
      </ul>
    </li>
    <li class="xn-openable hide" master-data>
      <a href="#" onClick="event.preventDefault()" oncontextmenu="return false;">
        <span class="fa fa-database"></span>
        <span class="xn-text">Master Data</span>
      </a>
      <ul>
        <li risk-category class="hide">
          <a href="#master/risk">Kategori Risiko</a>
        </li>
        <li sector class="hide">
          <a href="#master/sektor">Sektor</a>
        </li>
        <li project class="hide">
          <a href="#master/project">Proyek</a>
        </li>
        <li likelihood class="hide">
          <a href="#master/likelihood">Parameter</a>
        </li>
        <li asset-data class="hide">
          <a href="#master/asset_data">Asset Data</a>
        </li>
        <li tahapan-project class="hide">
          <a href="#master/tahapan_project">Tahapan Penjaminan</a>
        </li>
        <li stage class="hide">
          <a href="#master/stage">Tahapan Proyek</a>
        </li>
        <li comment class="hide">
          <a href="#master/comment">Komentar</a>
        </li>
        <li correlation-matrix class="hide">
          <a href="#master/correlation_matrix">Matriks Korelasi</a>
        </li>
        <li functional-risk class="hide">
          <a href="#master/functional_risk">Ambang Batas Risiko (Treshold)</a>
        </li>
        <!-- <li setting-menu class="hide"><a href="#master/setting_menu">Setting Menu</a></li> -->
        <!-- <li master-approval class="hide"><a href="#master/approval">Approval</a></li>         -->
      </ul>
    </li>
    <li single-menu scenario class="hide">
      <a href="#scenario">
        <span class="fa fa-files-o"></span>
        <span class="xn-text">Skenario</span>
      </a>
    </li>
    <li class="xn-openable hide" risk-matrix>
      <a href="#" onClick="event.preventDefault()" oncontextmenu="return false;">
        <span class="fa fa-columns"></span>
        <span class="xn-text">Matriks Risiko</span>
      </a>
      <ul>
        <li>
          <a href="#risk_matrix">Matriks Risiko</a>
        </li>
      </ul>
    </li>
    <li class="xn-openable hide" correlation>
      <a href="#" onClick="event.preventDefault()" oncontextmenu="return false;">
        <span class="fa fa-random"></span>
        <span class="xn-text">Korelasi</span>
      </a>
      <ul>
        <li correlated-sector class="hide">
          <a href="#correlation/risk_category">Korelasi - Kategori Risiko</a>
        </li>
        <li correlated-project class="hide">
          <a href="#correlation/project">Korelasi - Proyek</a>
        </li>
      </ul>
    </li>
    <li single-menu calculation class="hide">
      <a single-menu href="#calculation">
        <span class="fa fa-plus"></span>
        <span class="xn-text">Kalkulasi</span>
      </a>
    </li>
    <li single-menu calculation-compare class="hide">
      <a href="#calculation_compare">
        <span class="fa fa-plus"></span>
        <span class="xn-text">Kalkulasi Komparasi</span>
      </a>
    </li>
    <li single-menu overall-comment class="hide">
      <a href="#overall_comment">
        <span class="fa fa-comments"></span>
        <span class="xn-text">Komentar Keseluruhan</span>
      </a>
    </li>
    <li single-menu approval class="hide">
      <a href="#approval">
        <span class="fa fa-check"></span>
        <span class="xn-text">Persetujuan</span>
      </a>
    </li>
    <li class="xn-openable hide" user-management>
      <a href="#" onClick="event.preventDefault()" oncontextmenu="return false;">
        <span class="fa fa-random"></span>
        <span class="xn-text">User Management</span>
      </a>
      <ul>
        <li setting-menu>
          <a href="#user_management/setting_menu">
            <span class="fa fa-cogs"></span>
            <span class="xn-text">Pengaturan Menu</span>
          </a>
        </li>
        <li setting-user>
          <a href="#user_management/user_role">
            <span class="fa fa-user"></span>
            <span class="xn-text">Pengaturan Pengguna</span>
          </a>
        </li>
        <li master-approval>
          <a href="#user_management/approval">
            <span class="fa fa-paper-plane"></span>
            <span class="xn-text">Pengaturan Persetujuan</span>
          </a>
        </li>
      </ul>
    </li>
    <li single-menu audit-log class="hide">
      <a href="#audit_log">
        <span class="fa fa-book"></span>
        <span class="xn-text">Audit Log</span>
      </a>
    </li>
  </ul>
</div>

<script>
  $('[single-menu]').click(function (e) {
    var currentTarget = $(e.currentTarget);
    var DOM = $($('.x-navigation')[0]);
    var linkDOMs = $('a[href]:not([href="#"])', DOM);
    linkDOMs.removeClass('active');
    $(currentTarget).addClass('active');
  });
  $('li a[href]:not([href="#"])').click(function (e) {
    e.preventDefault();
    var currentTarget = $(e.currentTarget);
    var href = currentTarget.attr('href');

    var ret = Backbone.history.navigate(href, true);
    if (ret === undefined) {
      Backbone.history.loadUrl(href);
    } else {
      var DOM = $($('.x-navigation')[0]);
      var linkDOMs = $('a[href]:not([href="#"])', DOM);
      linkDOMs.removeClass('active');
      $(currentTarget).addClass('active');
    }
    //testing
    var li = $(this).parent('li');
    var ul = li.parent("ul");

    ul.find(" > li").not(li).removeClass("active");

    e.stopPropagation();
    var li = $(this);
    if (li.children("ul").length > 0 || li.children(".panel").length > 0 || $(this).hasClass("xn-profile") > 0) {
      if (li.hasClass("active")) {
        li.removeClass("active");
        li.find("li.active").removeClass("active");
      } else
        li.addClass("active");

      onresize();

      if ($(this).hasClass("xn-profile") > 0)
        return true;
      else
        return false;
    }
  });
</script>