<ul class="breadcrumb">
    <li>Master Data</li>
    <li class="active">Tahapan Penjaminan</li>
</ul>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-3 kw-single-filter-text">
			<select class='form-control' id="keyIndex">
				<option value='1'>Nama Tahapan Penjaminan</option>
				<option value='2'>Keterangan</option>
			</select>
		</div>
		 <div class="col-md-3 kw-single-filter-text">
          	<input type="text" placeholder="Search" class='form-control' id="keyword"/>
        </div>
        <div class="col-md-2 kw-single-filter-btn">
        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
        </div>
	</div>
	<div class="col-md-4 pull-right kw-btn-add-position">
		<button class="btn btn-primary pull-right hide" name="add">Tambah</button>
	</div>
</div>
<div class="card" obo-table>
</div>
<div class="pull-right" obo-paging>
</div>
