<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Adjust Nilai Available Capital</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12" data-available-capital>
          
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" btn-save>Simpan</button>
    </div>
  </div>
</form>
