<ul class="breadcrumb">
    <li>Dashboard</li>
    <li class="active">Main Dashboard</li>
</ul>
<div class="row header mb10 margintop10">
</div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" main-risk-capital class="active">
            <a href="#chartriskcapitalbyproject" aria-controls="chartriskcapitalbyproject" role="tab" data-toggle="tab">Risk Capital By Project</a>
        </li>
        <li role="presentation" main-functional-risk class="">
            <a href="#functionalrisk" aria-controls="functionalrisk" role="tab" data-toggle="tab">Functional Risk</a>
        </li>
        <li role="presentation" main-overall-comment class="">
            <a href="#overallcomment" aria-controls="overallcomment" role="tab" data-toggle="tab">Overall Risk</a>
        </li>
    </ul>
    <div class="pull-right" style="margin-right: 50px;margin-top: 10px;">
        <input type="button" class="btn btn-primary hide" name="ExportXLS" value="Export to XLS">
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="chartriskcapitalbyproject">
            <div chart-risk-capital-by-project></div>
            <div chart-asset-allocation></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="functionalrisk">
            <div functional-risk></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="overallcomment">
            <div overall-comment></div>
        </div>
    </div>
</div>