<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tambah Komentar Keseluruhan</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12"> 
          <div class="form-group">
            <label class="col-md-4 control-label">Warna *</label>
            <div class="col-md-2">
              <input type="text" value="" class="form-control" name="MasterWarna" disabled>
            </div>
          </div>       
          <div class="form-group">
            <label class="col-md-4 control-label">Komentar Keseluruhan *</label>
            <div class="col-md-8">
				      <textarea name="OverAllComment" class="form-control" rows="4" cols="50"></textarea>
              <!-- <input type="text" value="" class="form-control" name="OverAllComment"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Kembali</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
