<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Approval Risiko Matriks</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4" obo-table-likelihood>
        </div>
        <div class="col-md-8" style="margin-bottom: 15px;">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-md-3">
                  <label>Scenario</label>
                </div>
                <div class="col-md-1">
                  <label>:</label>
                </div>
                <div class="col-md-8" align="left">
                  <label name="NamaScenario">nama scenario</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label>Proyek</label>
                </div>
                <div class="col-md-1">
                  <label>:</label>
                </div>
                <div class="col-md-8" align="left">
                  <label name="NamaProject">nama proyek</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-3">
                  <label>Periode Mulai Proyek</label>
                </div>
                <div class="col-md-1">
                  <label>:</label>
                </div>
                <div class="col-md-8">
                  <label name="TahunAwalProject"></label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-3">
                  <label>Periode Akhir Proyek</label>
                </div>
                <div class="col-md-1">
                  <label>:</label>
                </div>
                <div class="col-md-8">
                  <label name="TahunAkhirProject">Akhir</label>
                </div>
              </div>

              <!-- <div class="form-group">
      <div class="col-md-12" align="left">
        <label>Tahapan Proyek</label>
      </div>
      <div class="col-md-12" tab-content>
      </div>
    </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="margin-bottom: 15px;" obo-table-matrix>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Status Approval *</label>
            <div class="col-md-8">
              <select class="form-control select" name="StatusId">
                <option value="2">Approve</option>
                <option value="3">Reject</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">Keterangan</label>
            <div class="col-md-9">
              <textarea class="form-control" rows="4" id="keterangan" name="Keterangan"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
    </div>
  </div>
</form>