<td>
  <% if(Scenario.Status == null) { %> 
    <%= NamaScenario %>  <span class="label label-default">Draft</span>
  <% } else if (Scenario.Status.Id == 1){ %> 
    <%= NamaScenario %> <span class="label label-warning">Proses Approval</span>
  <% } else { %> 
    <%= NamaScenario %> 
  <% } %>
</td>
<td><%= NamaSektor %></td>
<td>
  <% if(StatusId == 2) { %> 
      <span class="label label-success">Disetujui</span>
  <% } else if (StatusId == null) { %>
      <span class="label label-default">Draft</span>
  <% } else if (StatusId == 3) { %>
      <span class="label label-danger">Tidak Disetujui</span>
  <% } else { %> 
      <span class="label label-warning">Proses Approval</span>
  <% } %>
</td>
<td><%= StatusUserApproval %></td>
<td class="text-center">
  <span><a class="btn btn-link hide" name="Edit" href="<% print(`${window.location.hash}/${Id}`); %>">Ubah</a></span>
</td>
<script lang="javascript">
    let roles = JSON.parse(localStorage.getItem('roles'));
    if (roles) {
      $.grep(roles, function(item) {
        if (item.Name.trim() == "Korelasi") {
          if (item.SubMenu) {
            _.each(item.SubMenu, function(val) {
                switch (val.Name) {
                    case "KorelasiResiko":
                        if (val.SubMenu) {
                            _.each(val.SubMenu, function(item) {
                                switch (item.Action) {
                                    case "update":
                                        self.$('[name="Edit"]').removeClass('hide');
                                        break;
                                }
                            });
                        }
                        break;
                }
            });
          }
        }
      });
    }
  </script>
