<thead>
    <tr>
        <th>Skenario</th>
        <th>Nama Sektor Proyek</th>
        <th>Status</th>
        <th>Posisi Approval Saat Ini</th>
        <th class="th-header-custom">Aksi</th>
    </tr>
</thead>
<tbody></tbody>
