<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tambah Asset Data</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-5 control-label">Asset Class *</label>
              <div class="col-md-7">
                <input type="text" value="" class="form-control" name="AssetClass">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Term Awal</label>
              <div class="col-md-7">
                <input type="text" class="form-control" name="TermAwal" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Term Akhir</label>
              <div class="col-md-7">
                <input type="text" value="" class="form-control" name="TermAkhir">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Diluar tahun awal</label>
              <div class="col-md-7">
                <input type="text" value="" class="form-control" name="OutstandingStartYears">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Diluar tahun akhir</label>
              <div class="col-md-7">
                <input type="text" class="form-control" name="OutstandingEndYears" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-5 control-label">Nilai Asset</label>
              <div class="col-md-7">
                <input type="text" value="" data-currency-validation class="form-control" name="AssetValue">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Porposi</label>
              <div class="col-md-7">
                <input type="text" class="form-control" data-currency-validation name="Porpotion" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Asumsi Persentase</label>
              <div class="col-md-7">
                <input type="text" value="" class="form-control" data-currency-validation name="AssumedReturnPercentage">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-5 control-label">Diasumsikan kembali</label>
              <div class="col-md-7">
                <input type="text" class="form-control" data-currency-validation name="AssumedReturn" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
