<td class="text-center"><span style="background-color:<%= Warna %>; color: <%= Warna %>;">__________</span></td>
<td class="text-center">
  <% if(IsDefault) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger" >Tidak</span>
  <% } %>
</td>
<td class="text-center">
  <span>
    <% if (IsDefault) { %> 
      <a class="btn btn-link hide" btn-detail href="<% print(`${window.location.hash}/${Id}`); %>">Detail</a>
    <% } else { %>
      <a class="btn btn-link" btn-default name="Default">Tampilkan ke Dashboard</a>
      <a class="btn btn-link hide" btn-detail href="<% print(`${window.location.hash}/${Id}`); %>">Detail</a>
    <% } %>
  </span>
</td>
<script lang="javascript">
  let roles = JSON.parse(localStorage.getItem('roles'));
  if (roles) {
    $.grep(roles, function(item) {
      if (item.Name.trim() == "KomentarKeseluruhan") {
        if (item.SubMenu) {
          _.each(item.SubMenu, function(val) {
            switch (val.Action) {
              case "detail":
                self.$('[btn-detail]').removeClass('hide');
                break;
            }
          });
        }
      }
    });
  }
</script>