<ul class="breadcrumb">
    <li><a href="#">Master</a></li>
    <li class="active">Asset Data</li>
</ul>

<div class="panel panel-default">
  	<p class="panel-title">Asset Data</p>
	<div class="col-md-12">
		<div class="col-md-8">
			<div class="col-md-3 kw-single-filter-text">
				<select class='form-control' id="keyIndex">
					<option value='1'>Asset Class</option>
					<option value='2'>Term Awal</option>
					<option value='3'>Term Akhir</option>
					<option value='5'>Di Luar Tahun Awal</option>
					<option value='6'>Di Luar Tahun Akhir</option>
					<option value='7'>Nilai Asset</option>
					<option value='8'>Proposi</option>
					<option value='4'>Asumsi Persentase</option>
					<option value='9'>Diasumsikan Kembali</option>
					
				</select>
			</div>
			<div class="col-md-3 kw-single-filter-text">
	          	<input type="text" placeholder="Search" class='form-control' id="keyword"/>
	        </div>
	        <div class="col-md-2 kw-single-filter-btn">
	        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
	        </div>
		</div>
		<div class="col-md-4 pull-right kw-btn-add-position">
			<button class="btn btn-primary pull-right hide" name="add">Tambah</button>
		</div>
	</div>
	<div class="card" obo-table-asset_data>
	</div>
	<div class="pull-right" obo-paging-asset_data>
	</div>
</div>

<div class="panel panel-default">
  	<p class="panel-title">PMN</p>
	<div class="col-md-12">
		<div class="col-md-8">
			<div class="col-md-3 kw-single-filter-text">
				<select class='form-control' id="keyIndex2">
					<option value='1'>PMN u/ Modal Dasar Cup</option>
					<option value='2'>Penundaan</option>
					<option value='3'>Tahun Penundaan</option>
					<option value='4'>Kenaikan Opex</option>
					<option value='5'>Opex</option>
					<option value='6'>Value PMN To Modal Dasar Cup</option>
				</select>
			</div>
			 <div class="col-md-3 kw-single-filter-text">
	          	<input type="text" placeholder="Search" class='form-control' id="keywordPMN"/>
	        </div>
	        <div class="col-md-2 kw-single-filter-btn">
	        	<button type="button" class="btn btn-sm btn-primary" name="btn-filterPMN">Filter</button>
	        </div>
		</div>
		<div class="col-md-4 pull-right kw-btn-add-position">
			<button class="btn btn-primary pull-right hide" name="addPMN">Tambah</button>
		</div>
	</div>
	<div class="card" obo-table-pmn>
	</div>
	<div class="pull-right" obo-paging-pmn>
	</div>
</div>






