<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pilih Skenario</h5>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-3">
          <div class="form-group">
            <label class="col-md-4 control-label">Skenario 1*</label>
            <div class="col-md-6" data-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div data-tahapan-penjaminan-for-first-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
        <div class="col-lg-6">
          <div data-project-first-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px; border-top: 1px dotted #dccece; padding-top: 10px;">
        <div class="col-lg-3">
          <div class="form-group">
            <label class="col-md-4 control-label">Skenario 2 *</label>
            <div class="col-md-6" data-second-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div data-tahapan-penjaminan-for-second-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
        <div class="col-lg-6">
          <p data-project-amount-2></p>
          <div data-project-second-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
      </div>
      <div class="row" style="border-top: 1px dotted #dccece; padding-top: 10px;">
        <div class="col-lg-3">
          <div class="form-group">
            <label class="col-md-4 control-label">Skenario 3 *</label>
            <div class="col-md-6" data-third-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div data-tahapan-penjaminan-for-third-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
        <div class="col-lg-6">
          <div data-project-third-scenario style="overflow-y: auto;height: 180px;">

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="button" btn-save class="btn btn-primary btn-s pull-xs-right">Kalkulasi</button>
    </div>
  </div>
</form>