<ul class="breadcrumb">
    <li>Dashboard</li>
    <li class="active">Detail Result</li>
</ul>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" dashboard-availablevsrisk class="active hide">
            <a href="#availablevsrisk" aria-controls="availablevsrisk" role="tab" data-toggle="tab">Available Capital vs Risk Capital Projection</a>
        </li>
        <li role="presentation" dashboard-leverageratio class="hide">
            <a href="#leverageratio" aria-controls="leverageratio" role="tab" data-toggle="tab">Leverage Ratios</a>
        </li>
        <li role="presentation" dashboard-diversifiedbenefitachieved class="hide">
            <a href="#diversifiedbenefitachieved" aria-controls="diversifiedbenefitachieved" role="tab" data-toggle="tab">Diversified Benefit Achieved</a>
        </li>
        <li role="presentation" dashboard-liquidity class="hide">
            <a href="#liquidity" aria-controls="liquidity" role="tab" data-toggle="tab">Liquidity</a>
        </li>
        <li role="presentation" dashboard-sensitivity class="hide">
            <a href="#sensitivity" aria-controls="sensitivity" role="tab" data-toggle="tab">Sensitivity</a>
        </li>
        <li role="presentation" dashboard-stresstesting class="hide">
            <a href="#stresstesting" aria-controls="stresstesting" role="tab" data-toggle="tab">Stress Testing</a>
        </li>
        <li role="presentation" dashboard-riskbudget class="hide">
            <a href="#riskbudget" aria-controls="riskbudget" role="tab" data-toggle="tab">Risk Budget</a>
        </li>
    </ul>
    <div class="pull-right" style="margin-right: 50px;margin-top: 10px;">
        <input type="button" class="btn btn-primary" name="ExportXLS" value="Export to XLS">
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="availablevsrisk">
            <div available-risk-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="leverageratio">
            <div leverage-ratio-container></div>
        </div>
        <div role="tabpanel" class="tab-pane " id="diversifiedbenefitachieved">
        	<div diversified-benefit-achieved-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="liquidity">
            <div liquidity-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="sensitivity">
            <div sensitivity-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="stresstesting">
            <div stress-testing-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="riskbudget">
            <div risk-budget-container></div>
        </div>
    </div>
</div>