<ul class="breadcrumb">
	<li>User Management</li>
	<li class="active">Pengaturan Menu</li>
</ul>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-3 kw-single-filter-text">
			<select class='form-control' id="keyIndex">
				<option value='1'>Nama Role</option>
				<option value='2'>Nama Menu</option>
			</select>
		</div>
		<div class="col-md-3 kw-single-filter-text">
			<input type="text" placeholder="" class='form-control' id="keyword" />
		</div>
		<div class="col-md-2 kw-single-filter-btn">
			<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
		</div>
	</div>
	<div class="col-md-4 pull-right kw-btn-add-position">
		<button class="btn btn-primary pull-right" name="add" style="margin-bottom: 10px;">Tambah</button>
	</div>
</div>
<p></p>
</br>
<div class="card" obo-table-menu>
</div>
<div class="pull-right" obo-paging>
</div>