<ul class="breadcrumb">
	<li class="active">Audit Log</li>
</ul>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-2">
			<label style="margin-top: 28px;">Menu</label>
		</div>
		<div class="col-md-7 kw-single-filter-text">			
			<select class='form-control' id="keyIndex">
				<option value='0'>All Data</option>
				<option value='1'>Master Data - Kategori Risiko</option>
				<option value='2'>Master Data - Sektor</option>
				<option value='3'>Master Data - Proyek</option>
				<option value='4'>Master Data - Parameter</option>
				<option value='5'>Master Data - Asset Data</option>
				<option value='6'>Master Data - PMN</option>
				<option value='7'>Master Data - Tahapan Penjaminan</option>
				<option value='8'>Master Data - Tahapan Proyek</option>				
				<option value='9'>Master Data - Komentar</option>
				<option value='10'>Master Data - Matriks Korelasi</option>
				<option value='11'>Master Data - Treshold</option>
				<option value='12'>Skenario</option>				
				<option value='13'>Matriks Risiko</option>
				<option value='14'>Korelasi - Kategori Risiko</option>
				<option value='15'>Korelasi - Proyek</option>
				<option value='16'>Komentar Keseluruhan</option>
			</select>
		</div>				
	</div>
	<div class="col-md-4 pull-right kw-btn-add-position">
	</div>
</div>
<div class="col-md-12" style="margin-bottom: 8px;">
	<div class="col-md-8">
		<div class="col-md-2">
			<label style="margin-top: 18px;">Tanggal Update</label>
		</div>
		<div class="col-md-3" style="padding-left:0px; position: relative; display: table; border-collapse: separate; margin-bottom: 10px;">			
			<input type="text" class="form-control datepicker" name="TanggalAudit" >     
			<span style="width: 15px;" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>       
		</div>
		<div class="col-md-1">
			<label style="margin-top: 18px;">S/D</label>
		</div>
		<div class="col-md-3" style="padding-left:0px; position: relative; display: table; border-collapse: separate;">
			<input type="text" class="form-control datepicker" name="TanggalAudit2" >
            <span style="width: 15px;" class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
		<div class="col-md-3 ">
			<button type="button" class="btn btn-sm btn-primary" name="btn-filter" style="width: 50%; height: 31px; margin-top: 4.5px">Filter</button>
		</div>
	</div>
</div>
<div class="card" obo-table-sublikelihood>
</div>
<div class="pull-right" obo-paging>
</div>