<ul class="breadcrumb">
    <li>Master Data</li>
    <li>Approval</li>
    <li class="active">Risk Matriks</li>
</ul>
<div class="panel panel-default" risk-matrix-view>
  <div class="row">
    <div class="col-md-8">
      <div class="col-md-4 kw-single-filter-text">
        <select class='form-control' id="keyIndex">
          <option value='1'>Nama Proyek</option>
          <option value='2'>Sektor</option>
        </select>
      </div>
      <div class="col-md-4 kw-single-filter-text">
        <input type="text" placeholder="" class='form-control' id="keyword"/>
      </div>
      <div class="kw-single-filter-btn">
        <button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
      </div>
    </div>
    <div class="col-md-4 pull-right kw-btn-add-position">
      <p class="panel-title">
        <a class="btn btn-primary pull-right btn-back-detail" href="#user_management/approval" style="margin-top: 5px">Kembali</a>
      </p>
    </div>
  </div>
  <div class="panel-body row" style="padding-top: 10">
	<div class="card" kw-table-risk-matrix>
	     
	</div>
	<div kw-paging class="pull-right">
	</div>
  </div>
</div>