<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tambah PMN</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-5 control-label">PMN untuk Modal Dasar Cap *</label>
            <div class="col-md-7">
              <input type="text" value="" class="form-control" name="PMNToModalDasarCap">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Penundaan *</label>
            <div class="col-md-7">
              <input type="text" class="form-control" name="RecourseDelay" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Tahun penundaan *</label>
            <div class="col-md-7">
              <input type="text" class="form-control" name="DelayYears" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Kenaikan opex *</label>
            <div class="col-md-7">
              <input type="text" value="" class="form-control" name="OpexGrowth">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Opex *</label>
            <div class="col-md-7">
              <input type="text" class="form-control" name="Opex" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-5 control-label">Value PMN To Modal Dasar Cap *</label>
            <div class="col-md-7">
              <input type="text" class="form-control" name="ValuePMNToModalDasarCap" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
