<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Risiko Kejadian</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="col-lg-3 control-label">Risiko ID *</label>
            <div class="col-lg-2">
              <input type="text" value="" class="form-control" name="MasterRiskCode" disabled>
            </div>
            <div class="col-lg-7">
              <input type="text" value="" class="form-control" name="SubRiskCode">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Peristiwa Risiko mengarah pada Klaim *</label>
            <div class="col-lg-9">
              <input type="text" value="<%= RiskEvenClaim %>" class="form-control" name="RiskEvenClaim">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Keterangan*</label>
            <div class="col-lg-9">
              <input type="text" value="<%= DescriptionRiskEvenClaim %>" class="form-control" name="DescriptionRiskEvenClaim">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Peringatan yang disarankan *</label>
            <div class="col-lg-9">
              <input type="text" value="<%= SugestionMigration %>" class="form-control" name="SugestionMigration">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
