<td><%= NamaScenario %></td>
<td>
    <% if(IsDefault) { %>
    <span class="label label-success">iya</span>
    <% } %>
</td>
<td>
    <% if(StatusId == 2) { %>
    <span class="label label-success">Disetujui</span>
    <% } else if (StatusId == null) { %>
    <span class="label label-default">Draft</span>
    <% } else if (StatusId == 3) { %>
    <span class="label label-danger">Tidak Disetujui</span>
    <% } else { %>
    <span class="label label-warning">Proses Approval</span>
    <% } %>
</td>
<td><%= StatusUserApproval %></td>
<td class="text-center">
    <% if(StatusId == 2) { %>
    <span><button type="button" class="btn btn-link" name="Default">Default</button></span>
    <span><button type="button" class="btn btn-link hide" name="Edit">Ubah</button></span>
    <span><button type="button" class="btn btn-link hide" name="Delete">Hapus</button></span>
    <% } else if (StatusId == null) { %>
    <span><button type="button" class="btn btn-link hide" name="Edit">Ubah</button></span>
    <span><button type="button" class="btn btn-link hide" name="Delete">Hapus</button></span>
    <% } else if (StatusId == 3) { %>
    <span><button type="button" class="btn btn-link hide" name="Edit">Ubah</button></span>
    <% } else { %>
    <span><button type="button" class="btn btn-link" name="View">Info</button></span>
    <% } %>
</td>
<script lang="javascript">
    let roles = JSON.parse(localStorage.getItem('roles'));
    if (roles) {
        $.grep(roles, function (item) {
            if (item.Name.trim() == "Scenario") {
                if (item.SubMenu) {
                    _.each(item.SubMenu, function (val) {
                        switch (val.Action) {
                            case "update":
                                self.$('[name="Edit"]').removeClass('hide');
                                break;
                            case "delete":
                                self.$('[name="Delete"]').removeClass('hide');
                                break;
                        }
                    });
                }
            }
        });
    }
</script>
