<thead>
    <tr>
        <th>Nama Skenario</th>
        <th>Is Default</th>
        <th>Status</th>
        <th>Posisi Approval Saat Ini</th>
        <th class="th-header-custom">Aksi</th>
    </tr>
</thead>
<tbody></tbody>
