<td>
    <input type="checkbox" data-item <% print(isChecked ? 'checked':'');%>>
</td>
<td><%= NamaProject %></td>
<td><%= NamaSektor %></td>
<td>
	<% print(commonFunction.printArray(RiskRegistrasi, 'KodeMRisk'));%>
</td>