<style>
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}
</style>
<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Komentar</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12"> 
          <table>
            <tr>
              <td>Warna *</td>
              <td name="MasterWarna"></td>
            </tr>
            <tr>
              <td>Komentar *</td>
              <td><input type="text" value="<%= Comment %>" class="form-control" name="Comment"></td>
            </tr>
            <tr>
              <td>Matriks *</td>
              <td><select class="form-control select" name="NamaMatrix"></select></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi..</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Kembali</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
