<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Set Stage Tahun Proyek</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-4 control-label">Proyek</label>
            <div class="col-md-8">
              <input type="text" value="<%= Project && Project.NamaProject %>" class="form-control" name="" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Periode awal Proyek</label>
            <div class="col-md-8">
              <input type="text" value="<%= moment(Project && Project.TahunAwalProject).format('MM/DD/YYYY') %>" class="form-control" name="StartProject" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Periode akhir proyek</label>
            <div class="col-md-8">
              <input type="text" value="<%= moment(Project && Project.TahunAkhirProject).format('MM/DD/YYYY') %>" class="form-control" name="EndProject" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Tahapan Proyek</label>
          </div>
          <div tab-content>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12" obo-table-risk>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <!-- <button type="submit" class="btn btn-primary btn-s pull-xs-right">SAVE</button> -->
      <button type="button" class="btn btn-primary btn-s pull-xs-right" btn-save>Simpan</button>
    </div>
  </div>
</form>
