<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Pengguna</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Pengguna *</label>
            <div class="col-md-8">
              <input type="text" value="<%= UserName %>"class="form-control" name="UserName">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Password *</label>
            <div class="col-md-8">
              <input type="password" value="<%= Password %>" class="form-control" name="Password">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Email *</label>
            <div class="col-md-8">
              <input type="email" value="<%= Email %>" class="form-control" name="Email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Role *</label>
            <div class="col-md-8">
              <select class="form-control" name="RoleId">
                <option value="1">Super Admin</option>
                <option value="2">User</option>
                <option value="3">Admin</option>
                <option value="4">Head User</option>
                <option value="5">Admin Approver</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Status *</label>
            <div class="col-md-8">
              <select class="form-control select" name="Status">
                <option value="true">Aktif</option>
                <option value="false">Tidak Aktif</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>