<td lang="<%= Name %>"><%= Description %></td>
<td class="text-center">
  <span>
    <% if (Name == "Scenario") { %> 
      <button type="button" class="btn btn-link" id="<%= Name %>" name="Setting">Setting</button>
    <% } else if (Name == "Correlated Sektor") { %>
      <button type="button" class="btn btn-link" id="<%= Name %>" name="Setting">Setting</button>
    <% } else if (Name == "Risk Matrix") { %>
      <a class="btn btn-link" href="<% print(`${window.location.hash}/risk_matrix/${MenuId}`); %>">Setting</a>
    <% } else if (Name == "Correlated Project") { %> 
      <a class="btn btn-link" href="<% print(`${window.location.hash}/correlated_project/cp/${MenuId}`); %>">Setting</a>
    <% } %>
  </span>
</td>
