<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah PMN</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">PMN Untuk Modal Dasar Cap *</label>
            <div class="col-md-8">
              <input type="text" value="<%= PMNToModalDasarCap %>" class="form-control" name="PMNToModalDasarCap">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Penundaan *</label>
            <div class="col-md-8">
              <input type="text" value="<%= RecourseDelay %>" class="form-control" name="RecourseDelay">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Tahun Penudaan *</label>
            <div class="col-md-8">
              <input type="text" value="<%= DelayYears %>" class="form-control" name="DelayYears">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Kenaikan opex *</label>
            <div class="col-md-8">
              <input type="text" value="<%= OpexGrowth %>" class="form-control" name="OpexGrowth">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Opex</label>
            <div class="col-md-8">
              <input type="text" value="<%= Opex %>" class="form-control" name="Opex">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Value PMN To Modal Dasar Cap</label>
            <div class="col-md-8">
              <input type="text" value="<%= ValuePMNToModalDasarCap %>" class="form-control" name="ValuePMNToModalDasarCap">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
