<td><%= KodeRisk %></td>
<td><%= RiskEvenClaim %></td>
<td><%= DescriptionRiskEvenClaim %></td>
<td><%= SugestionMigration %></td>
<td class="text-center">
  <span>
  	<button type="button" class="btn btn-link hide" name="Edit">
  		Ubah
  	</button>
  </span>
  <span><button type="button" class="btn btn-link hide" name="Delete">Hapus</button></span>
</td>
<script lang="javascript">
  let roles = JSON.parse(localStorage.getItem('roles'));
  if (roles) {
    $.grep(roles, function(item) {
      if (item.Name.trim() == "Master") {
        if (item.SubMenu) {
          _.each(item.SubMenu, function(val) {
              switch (val.Name) {
                case "Master-KategoriResiko":
                    if (val.SubMenu) {
                        _.each(val.SubMenu, function(item) {
                            switch(item.Action) {
                              case "detail":
                              if (item.SubMenu) {
                                  _.each(item.SubMenu, function(val) {
                                    switch (val.Action) {
                                      case "update":
                                        self.$('[name="Edit"]').removeClass('hide');
                                        break;
                                      case "delete":
                                        self.$('[name="Delete"]').removeClass('hide');
                                        break;
                                    }
                                  });
                                }
                            }
                        });
                    }
                    break;
              }
          });
        }
      }
    });
  }
</script>
