<thead>
  <tr>
      <th>ID</th>
      <th>Peristiwa Risiko Menuju Klaim</th>
      <th>Keterangan </th>
      <th>Peringatan Yang disarankan</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
