<td>
    <% if(Scenario.Status == null) { %> 
        <%= Scenario && Scenario.NamaScenario %>  <span class="label label-default">Draft</span>
    <% } else if (Scenario.Status.Id == 1){ %> 
        <%= Scenario && Scenario.NamaScenario %> <span class="label label-warning">Proses Approval</span>
    <% } else { %> 
        <%= Scenario && Scenario.NamaScenario %> 
    <% } %>
</td>
<td><%= Project && Project.NamaProject %></td>
<td>
	<% if(StatusId == 2) { %> 
        <span class="label label-success">Disetujui</span>
    <% } else if (StatusId == null) { %>
        <span class="label label-default">Draft</span>
    <% } else if (StatusId == 3) { %>
        <span class="label label-danger">Tidak Disetujui</span>
    <% } else { %> 
        <span class="label label-warning">Proses Approval</span>
    <% } %>
</td>
<td><%= StatusUserApproval %></td>
<td class="text-center">
    <% if(StageTahunRiskMatrix.length > 0) { %> 
		<span><a class="btn btn-link hide" btn-detail href="<% print(`${window.location.hash}/${Id}`); %>">Detail</a></span>
        <% if(StatusId != 1) { %>
            <span><button type="button" class="btn btn-link hide" name="Update" btn-update>Perbaharui data</button></span>
        <% } %>
	<% } else { %>
		<span><button type="button" class="btn btn-link hide" name="Edit" btn-edit>Ubah</button></span>
	<% } %>
</td>
<script lang="javascript">
    let roles = JSON.parse(localStorage.getItem('roles'));
    if (roles) {
      $.grep(roles, function(item) {
        if (item.Name.trim() == "RisikoMatriks") {
          if (item.SubMenu) {
            _.each(item.SubMenu, function(val) {
                switch (val.Action) {
                    case "update":
                        self.$('[name="Update"]').removeClass('hide');
                        self.$('[name="Edit"]').removeClass('hide');
                        break;
                    case "detail":
                        self.$('[btn-detail]').removeClass('hide');
                        break;
                }
            });
          }
        }
      });
    }
  </script>