<thead>
    <tr>
        <th>Skenario</th>
        <th>Nama Proyek</th>
        <th>Status Matriks Risiko</th>
        <th>Status User Approval</th>
        <th class="th-header-custom">Aksi</th>
    </tr>
</thead>
<tbody></tbody>
