<div>
  <ul class="x-navigation x-navigation-horizontal x-navigation-panel" topnav>
        <li class="xn-icon-button">
            <a href="" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <li>
            <p class="mt15" style="color: white; font-style: italic;">versi 0.1.1</p>
        </li>
        <li class="pull-right btn-logout-position">
            <!-- <button type="button" class="btn-logout-position" onclick="doLogout()">Logout</button> -->
            <a href="javascript: void(0)" onclick="doLogout()">Logout</a>
        </li>
        <li class="pull-right">
            <a href="javascript: void(0)"><span class="fa fa-user"></span><span name="firstName">user name</span></a>
        </li>
        <li class="pull-right">
            <a href="#help" data-toggle="tooltip" data-placement="bottom" title="Unduh buku panduan!"><span class="fa fa-question-circle"></span><span name="help">User Manual</span></a>
        </li>
  </ul>
</div>
<script>
    function doLogout() {
        var self = this;
        var commonConfig = require('commonconfig');
        var Cookies = require('Cookies');
        var Model = require('backbone.model');
        
        swal({
            title: "Are you sure you want to log out?",
            text: "Press Cancel if you want to continue work. </br> Or Press Yes to logout current user.",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-info",
            confirmButtonText: "Yes",
            closeOnConfirm: true,
            html: true
        },
        function() {
            window.localStorage.clear();
            _.each(commonConfig.cookieFields, function(item) {
                Cookies.remove(item);
            });
            window.location.hash = 'login';
        });
    }
</script>
