<ul class="breadcrumb">
    <li class="active">Komentar Keseluruhan</li>
</ul>
<div class="row header mb10 margintop10">
    <div class="pull-right menu-action">
        <!-- <button class="btn btn-primary pull-xs-right" name="add">Add</button> -->
    </div>
</div>
<div class="card" obo-table-colorcomment>
</div>
<div class="pull-right" obo-paging>
</div>
