<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pilih Kategori Risiko</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Kategori Risiko *</label>
            <div class="col-md-8" data-risk-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
