<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tambah Setting Menu</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-md-4 control-label">Nama Role *</label>
              <div class="col-md-8">
                <select class='form-control' name="NamaRole">
                  <option value='1'>Super Admin</option>
                  <option value='2'>User</option>
                  <option value='3'>Admin</option>
                  <option value='4'>Head User</option>
                  <option value='5'>Admin Approver</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Nama Menu *</label>
              <div class="col-md-8" data-menu>
                
              </div>
            </div> 
  
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <label class="col-md-2 control-label" for="Tambah">Tambah</label>
              <div class="col-md-2">              
                <input class="form-check-input" type="checkbox" value="false" name="Tambah" style="margin-top: 14px ;">
              </div>  
              <label class="col-md-2 control-label" for="Ubah">Ubah</label>
              <div class="col-md-2">              
                <input class="form-check-input" type="checkbox" value="false" name="Ubah" style="margin-top: 14px ;">
              </div>  
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <label class="col-md-2 control-label" for="Hapus">Hapus</label>
              <div class="col-md-2">              
                <input class="form-check-input" type="checkbox" value="false" name="Hapus" style="margin-top: 14px ;">
              </div>
              <label class="col-md-2 control-label" for="Detail">Detail</label>
              <div class="col-md-2">              
                <input class="form-check-input" type="checkbox" value="false" name="Detail" style="margin-top: 14px ;">
              </div>  
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <label class="col-md-2 control-label" for="View">View</label>
              <div class="col-md-2">              
                <input class="form-check-input" type="checkbox" value="true" name="Lihat" disabled="" style="margin-top: 14px ;">
              </div>  
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Status *</label>
              <div class="col-md-8">
                <select class="form-control select" name="IsActive">
                  <option value="true">Aktif</option>
                  <option value="false">Tidak Aktif</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
        <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
      </div>
    </div>
  </form>
  