<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pilih Skenario</h5>
    </div>
    <div class="modal-body">
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="col-lg-4 control-label">Skenario 1*</label>
            <div class="col-lg-8" data-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-8" style="overflow-y: auto;height: 150px;" data-project-list-1>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="col-lg-4 control-label">Skenario 2</label>
            <div class="col-lg-8" data-second-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-8" style="overflow-y: auto;height: 150px;" data-project-list-2>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="col-lg-4 control-label">Skenario 3</label>
            <div class="col-lg-8" data-third-scenario-list>
            </div>
          </div>
        </div>
        <div class="col-lg-8" style="overflow-y: auto;height: 150px;" data-project-list-3>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="button" btn-save class="btn btn-primary btn-s pull-xs-right">Kalkulasi</button>
    </div>
  </div>
</form>
