<thead>
  <tr>
      <th>Nama Proyek</th>
      <th>Minimum Risiko(%)</th>
      <th>Maksimum Risiko(%)</th>
      <th>Tahapan Penjaminan</th>
      <th>Sektor</th>
      <th>User</th>
      <th>Status</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
