<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title"><p data-title>Pilih Proyek</p><button type="button" class="close" data-dismiss="modal"></button></h5>
    </div>
    <div class="modal-body">
      <div class="row" project-table></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
        <button type="button" btn-save class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
