<ul class="breadcrumb">
    <li>Korelasi</li>
    <li>Korelasi - Proyek</li>
    <li class="active">Korelasi - Proyek - Detail</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
		Korelasi - Proyek
      <a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
    </p>
  </div>
  <div class="panel-body row">
	<div obo-table-subrisk>
		<div class="row">
			<div class="col-md-6" data-correlation-matrix style="margin-bottom: 15px;">
			</div>
			<div class="col-md-3" style="margin-bottom: 15px;" nama-skenario>
			</div>
			<div class="col-md-3" style="margin-bottom: 15px;" nama-proyek>
			</div>
			<div class="col-md-3" style="margin-bottom: 15px;" nama-sektor>
			</div>
			<div class="col-md-3" style="margin-bottom: 15px;" nama-status>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 scrollable-matrix">
			</div>
		</div>
	</div>
  </div>
  <div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
		<button type="submit" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
    </div>
</div>