<ul class="breadcrumb">
    <li class="active">Kalkulasi</li>
</ul>
<div class="col-md-12" style="font-weight: bold;padding-top: 10px;">
    <p scenario-selected></p>
</div>
<div class="pull-right">
	<button type="button" class="btn btn-primary btn-s pull-xs-right" change-scenario>Ubah Skenario</button>
</div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#projectdetail" aria-controls="projectdetail" role="tab" data-toggle="tab">Project Detail</a></li>
        <li role="presentation"><a href="#aggregationproject" aria-controls="aggregationproject" role="tab" data-toggle="tab">Aggregation of Project</a></li>
        <li role="presentation"><a href="#aggregationsektor" aria-controls="aggregationsektor" role="tab" data-toggle="tab">Aggregation of Sector</a></li>
        <li role="presentation"><a href="#aggregationrisk" aria-controls="aggregationrisk" role="tab" data-toggle="tab">Aggregation of Risk</a></li>
        <li role="presentation"><a href="#assetprojection" aria-controls="assetprojection" role="tab" data-toggle="tab">Asset Projection</a></li>
        <li role="presentation"><a href="#liquidity" aria-controls="liquidity" role="tab" data-toggle="tab">Liquidity</a></li>
        <li role="presentation"><a href="#scenariotesting" aria-controls="scenariotesting" role="tab" data-toggle="tab">Scenario Testing</a></li>
    </ul>
    <div class="pull-right" style="margin-right: 50px;margin-top: 10px;">
        <input type="button" class="btn btn-primary hide" name="ExportXLS" value="Export to XLS">
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="projectdetail">
        	<div correlated-sektor-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationproject">
        	<div aggregation-project-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationsektor">
        	<div aggregation-sector-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationrisk">
            <div aggregation-risk-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="assetprojection">
            <div asset-projection-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="liquidity">
            <div liquidity-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="scenariotesting">
            <div scenario-testing-container></div>
        </div>
    </div>
</div>
