<thead>
  <tr>
      <th>Definisi Parameter</th>
      <th>Nilai Terendah</th>
      <th>Nilai Tertinggi</th>
      <!-- <th>Incres</th> -->
      <th>Rata-rata</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
