<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Approval Skenario</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Nama Skenario *</label>
              <div class="col-md-8">
                <input type="text" value="" class="form-control" name="NamaScenario" disabled>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Parameter*</label>
              <div class="col-md-5">
                <input type="text" value="" class="form-control" name="NamaLikehood" disabled>
              </div>
              <div class="col-md-3">
                <button class="btn btn-secondary btn pull-right" style="margin-top: 5px;" type="button" name="SelectLikelihood">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>Ubah Parameter
                  </button>
                </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label"></label>
              <div class="col-md-8" likelihood-table>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Status Approval *</label>
              <div class="col-md-8">
                <select class="form-control select" name="StatusId">
                  <option value="2">Approve</option>
                  <option value="3">Reject</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Keterangan</label>
              <div class="col-md-8">
                <textarea class="form-control" rows="4" id="keterangan" name="Keterangan"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-2 control-label">Proyek *</label>
              <div class="col-md-10">
                <!-- <div class="col-md-12 scrollable-approval" project-table>
                </div> -->
                <div class="col-md-2">
                    <button class="btn btn-secondary btn" type="button" name="SelectProject">
                      <i class="fa fa-ellipsis-v" aria-hidden="true"></i> Ubah Proyek
                    </button>
                  </div>
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <div class="col-md-12 scrollable-approval" project-table>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Request By *</label>
                <div class="col-md-8">
                  <input type="text" value="" class="form-control hidden" name="CreateBy" disabled>
                  <input type="text" value="" class="form-control" name="NamaPembuat" disabled>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
      </div>
    </div>
  </form>
  