<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Info Skenario</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Skenario *</label>
            <div class="col-md-8">
              <input type="text" value="<%= NamaScenario %>" class="form-control" name="NamaScenario" disabled>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Parameter*</label>
            <div class="col-md-6">
              <input type="text" value="" class="form-control" name="NamaLikehood" disabled>
            </div>
            <div class="col-md-2">
              </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8" likelihood-table>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label class="col-md-2 control-label">Proyek *</label>
            <div class="col-md-10">
              <div class="col-md-2">
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-md-2 control-label"></label>
              <div class="col-md-10">
                  <div class="col-md-12 scrollable-approval" project-table>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
    </div>
  </div>
</form>
