<ul class="breadcrumb">
    <li>Dashboard</li>
    <li class="active">Kalkulasi</li>
</ul>
<div class="pull-right">
	<!-- <button type="button" class="btn btn-primary btn-s pull-xs-right" change-scenario>Ubah Skenario</button> -->
</div>
<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active hide" dashboard-project-detail>
            <a href="#projectdetail" aria-controls="projectdetail" role="tab" data-toggle="tab">Project Detail</a>
        </li>
        <li role="presentation" class="hide" dashboard-aggregation-project>
            <a href="#aggregationproject" aria-controls="aggregationproject" role="tab" data-toggle="tab">Aggregation of Project</a>
        </li>
        <li role="presentation" class="hide" dashboard-aggregation-sector>
            <a href="#aggregationsektor" aria-controls="aggregationsektor" role="tab" data-toggle="tab">Aggregation of Sector</a>
        </li>
        <li role="presentation" class="hide" dashboard-aggregation-risk>
            <a href="#aggregationrisk" aria-controls="aggregationrisk" role="tab" data-toggle="tab">Aggregation of Risk</a>
        </li>
        <li role="presentation" class="hide" dashboard-asset-projection>
            <a href="#assetprojection" aria-controls="assetprojection" role="tab" data-toggle="tab">Asset Projection</a>
        </li>
        <li role="presentation" class="hide" dashboard-liquidity>
            <a href="#liquidity" aria-controls="liquidity" role="tab" data-toggle="tab">Liquidity</a>
        </li>
        <li role="presentation" class="hide" dashboard-scenario-testing>
            <a href="#scenariotesting" aria-controls="scenariotesting" role="tab" data-toggle="tab">Scenario Testing</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="projectdetail">
        	<div correlated-sektor-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationproject">
        	<div aggregation-project-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationsektor">
        	<div aggregation-sector-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aggregationrisk">
            <div aggregation-risk-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="assetprojection">
            <div asset-projection-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="liquidity">
            <div liquidity-container></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="scenariotesting">
            <div scenario-testing-container></div>
        </div>
    </div>
</div>
