<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Approval Korelasi Proyek</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6" kw-table-correlation-matrix></div>
          <div class="col-md-6" style="margin-bottom: 15px;">
              <p nama-scenario></p>
              <p nama-project></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 15px;" kw-table-correlated-project>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 control-label">Status Approval *</label>
              <div class="col-md-8">
                <select class="form-control select" name="StatusId">
                  <option value="2">Approve</option>
                  <option value="3">Reject</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-3 control-label">Keterangan</label>
              <div class="col-md-9">
                <textarea class="form-control" rows="4" id="keterangan" name="Keterangan"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
      </div>
    </div>
  </form>