<ul class="breadcrumb">
    <li class="active">Persetujuan</li>
</ul>
<div class="panel panel-default">
  	<div class="panel-heading clean">Masuk</div>
	<div class="col-md-12">
		<div class="col-md-8" style="padding-left: 0;">
			<div class="col-md-3 kw-single-filter-text">
					<b>Nama Field</b>
				<select class='form-control' id="keyIndexInbox">
					<option value='1'>Nama Skenario</option>
					<option value='2'>Menu</option>
					<option value='3'>Nama Skenario/Proyek/Sektor</option>
				</select>
			</div>
			<div class="col-md-3 kw-single-filter-text">
					<b>Status</b>
						<select class='form-control' id="keyIndexInbox2">
						   <option value='5'>All</option>
						   <option value='1'>Submit</option>
							<option value='4'>Draft</option>
							
						</select>
					</div>
			 <div class="col-md-3 kw-single-filter-text">
					<br>
	          	<input type="text" placeholder="Search" class='form-control' id="keywordInbox"/>
	        </div>
	        <div class="col-md-2 kw-single-filter-btn">
					<br>
	        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter-inbox">Filter</button>
	        </div>
		</div>
	</div>
	<div class="card" obo-table-approval>
	</div>
	<div class="pull-right" obo-paging>
	</div>
</div>

<div class="panel panel-default">
  	<div class="panel-heading clean mt10">Keluar</div>
	<div class="col-md-12">
		<div class="col-md-8" style="padding-left: 0;">
			<div class="col-md-3 kw-single-filter-text">
					<b>Nama Field</b>
				<select class='form-control' id="keyIndex">
					<option value='1'>Nama Skenario</option>
					<option value='2'>Menu</option>
					<option value='3'>Nama Skenario/Proyek/Sektor</option>
				</select>
			</div>
			<div class="col-md-3 kw-single-filter-text">
					<b>Status</b>
						<select class='form-control' id="keyIndex2">
						   <option value='5'>All</option>
						   <option value='1'>Proses Approval</option>
							<option value='2'>Disetujui</option>
							<option value='3'>Tidak Disetujui</option>
							<!-- <option value='4'>Draft</option> -->
							
						</select>
					</div>
					
			 <div class="col-md-3 kw-single-filter-text">
				 <br>
	          	<input type="text" placeholder="Search" class='form-control' id="keyword"/>
	        </div>
	        <div class="col-md-2 kw-single-filter-btn">
					<br>
	        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
	        </div>
		</div>
	</div>
	<div class="card" obo-table-approval-sent>
	</div>
	<div class="pull-right" obo-paging-sent>
	</div>
</div>