<ul class="breadcrumb">
    <li>Master Data</li>
    <li>Kategori Resiko</li>
    <li class="active">Info</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Info Kategori Risiko
      <a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
    </p>
  </div>
  <div class="panel-body row">
	<div class="card" obo-table-subrisk>
		<div class="col-md-6" style="margin-bottom: 15px;">
			<div class="row">
				<div class="col-md-5">Master Risiko ID</div>
				<div class="col-md-7" name="KodeMRisk"></div>
			</div>
			<div class="row">
				<div class="col-md-5">Nama Kategori Risiko</div>
				<div class="col-md-7" name="NamaCategoryRisk"></div>
			</div>
			<div class="row">
				<div class="col-md-5">Definisi</div>
				<div class="col-md-7" name="Definisi"></div>
			</div>
		</div>
        <div class="col-md-12">
            <div class="col-md-8">
                <div class="col-md-3 kw-single-filter-text">
                    <select class='form-control' id="keyIndex">
                        <option value='1'>Id</option>
                        <option value='2'>Peristiwa Risiko</option>
                        <option value='3'>Keterangan</option>
                        <option value='4'>Peringatan</option>
                    </select>
                </div>
                <div class="col-md-3 kw-single-filter-text">
                    <input type="text" placeholder="Search" class='form-control' id="keyword" />
                </div>
                <div class="col-md-2" style="margin-top:18px;">
                    <button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
                </div>
            </div>
            <div class="col-md-4 pull-right kw-btn-add-position">
                <button class="btn btn-primary pull-right hide" name="add">Tambah</button>
            </div>
        </div>
		<div class="col-md-12" style="margin-bottom: 15px;">
            <p class="panel-title">
                Risiko Kejadian
            </p>	    
		</div>       
    </div>
	<div obo-paging class="pull-right">
	</div>
  </div>
</div>