<div class="row">
	<div class="col-md-12" obo-table-stage>
		<div class="form-group">
	        <label class="col-md-4 control-label">Proyek</label>
	        <div class="col-md-8">
	          <input type="text" value="" class="form-control" name="NamaProject" disabled>
	        </div>
      	</div>
      	<div class="form-group">
	        <label class="col-md-4 control-label">Tahun Awal Proyek</label>
	        <div class="col-md-8">
	          <input type="text" value="" class="form-control" name="TahunAwalProject" disabled="">
	        </div>
      	</div>
      	<div class="form-group">
	        <label class="col-md-4 control-label">Tahun Akhir Proyek</label>
	        <div class="col-md-8">
	          <input type="text" value="" class="form-control" name="TahunAkhirProject" disabled="">
	        </div>
      	</div>
      	<div class="form-group">
	        <label class="col-md-4 control-label">Tahapan Proyek</label>
	        <div class="col-md-4">
	        	<label class="col-md-4 control-label"></label>
	          	<input type="text" value="" class="form-control" name="NamaProject" disabled="">
	        </div>
	        <div class="col-md-4">
	        	<label class="col-md-4 control-label"></label>
	          	<input type="text" value="" class="form-control" name="NamaProject" disabled="">
	        </div>
      	</div>
	</div>
</div>
