<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Ambang Batas Risiko</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
            <label class="col-md-4 control-label">Definisi *</label>
            <div class="col-md-8">
              <input type="text" class="form-control" value="<%= Definisi %>" name="Definisi" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Nilai Maksimum *</label>
            <div class="col-md-8">
              <input type="text" class="form-control" value="<%= NilaiMaksimum %>" name="NilaiMaksimum" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Nilai Minimum *</label>
            <div class="col-md-8">
              <input type="text" class="form-control" value="<%= NilaiMinimum %>" name="NilaiMinimum" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Komentar *</label>
            <div class="col-md-8">
              <input type="text" class="form-control" value="<%= Komentar %>" name="Komentar" />
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
