<td><%= NamaMatrix %></td>
<td><%= NamaFormula %></td>
<td><span style="background-color:<%= Warna %>; color: <%= Warna %>;">123456</span></td>
<td><%= NamaScenario %></td>
<td><%= Definisi %></td>
<td class="text-center">
  <span><button type="button" class="btn btn-link" name="Edit">Ubah</button></span>
</td>
