<td><%= Matrix && Matrix.NamaMatrix %></td>
<td><%= Comment %></td>
<td><%= ActionPoint %></td>
<td class="text-center">
  <span>
  	<button type="button" class="btn btn-link hide" name="Edit">
  		Ubah Tindakan
  	</button>
  </span>
</td>
<script lang="javascript">
  let self = this;
  let roles = JSON.parse(localStorage.getItem('roles'));
  if (roles) {
    $.grep(roles, function(item) {
      if (item.Name.trim() == "KomentarKeseluruhan") {
        if (item.SubMenu) {
          _.each(item.SubMenu, function(val) {
            switch (val.Action) {
              case "detail":
                if (val.SubMenu) {
                  _.each(val.SubMenu, function(item) {
                    switch (item.Action) {
                      case "update":
                        self.$('[name="Edit"]').removeClass('hide');
                        break;
                    }
                  });
                }
                break;
            }
          });
        }
      }
    });
  }
</script>
