<ul class="breadcrumb">
    <li>Korelasi</li>
    <li class="active">Kategori Risiko</li>
</ul>
<div class="col-md-12">
	<div class="col-md-6">
			<div class="col-md-3 kw-single-filter-text">
					<b>Nama Field</b>
					<select class='form-control' id="keyIndex">
						
						<option value='2'>Skenario</option>
						<option value='1'>Nama Sektor Proyek</option>
						<!-- <option value='3'>Status</option> -->
					</select>
			</div>	
			<div class="col-md-3 kw-single-filter-text">
					<b>Status</b>
						<select class='form-control' id="keyIndex2">
						   <option value='5'>All</option>
						   <option value='1'>Proses Approval</option>
							<option value='2'>Disetujui</option>
							<option value='3'>Tidak Disetujui</option>
							<option value='4'>Draft</option>
							
						</select>
					</div>
		
		 <div class="col-md-3 kw-single-filter-text">
				<br>
          	<input type="text" placeholder="Search" class='form-control' id="keyword" />
        </div>
        <div class="col-md-2 kw-single-filter-btn">
				<br>
        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
        </div>
	</div>
	<div class="col-md-6 pull-right kw-btn-add-position">
		<!-- <button class="btn btn-primary pull-right" name="add">Tambah</button> -->
	</div>
</div>
<div class="card" obo-table>
</div>
<div class="pull-right" obo-paging>
</div>

