<td><%= PMNToModalDasarCap %></td>
<td><%= RecourseDelay %></td>
<td><%= DelayYears %></td>
<td><%= OpexGrowth %></td>
<td><%= Opex %></td>
<td><%= ValuePMNToModalDasarCap %></td>
<td class="text-center">
  <span><button type="button" class="btn btn-link hide" btn-update name="Edit">Ubah</button></span>
  <span><button type="button" class="btn btn-link hide" btn-delete name="Delete">Hapus</button></span>
</td>
<script lang="javascript">
  let roles = JSON.parse(localStorage.getItem('roles'));
  if (roles) {
    $.grep(roles, function(item) {
      if (item.Name.trim() == "Master") {
        if (item.SubMenu) {
          _.each(item.SubMenu, function(val) {
              switch (val.Name) {
                case "Master-PMN":
                  if (val.SubMenu) {
                    _.each(val.SubMenu, function(item) {
                      switch(item.Action) {
                        case "update":
                          self.$('[btn-update]').removeClass('hide');
                          break;
                        case "delete":
                          self.$('[btn-delete]').removeClass('hide');
                          break;
                      }
                    });
                  }
                  break;
              }
          });
        }
      }
    });
  }
</script>