<thead>
  <tr>
      <th>PMN untuk Modal Dasar Cap</th>
      <th>Penundaan</th>
      <th>Tahun Penundaan</th>
      <th>Kenaikan opex</th>
      <th>Opex</th>
      <th>Value PMN To Modal Dasar Cap</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
