<ul class="breadcrumb">
    <li>Master</li>
    <li>Komentar Keseluruhan</li>
    <li class="active">Detail</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Detail Komentar Keseluruhan
      <a class="btn btn-primary pull-right btn-back-detail" href="<% print(commonFunction.getCurrentHashOmitSuffix(1)) %>">Kembali</a>
    </p>
  </div>
  <div class="panel-body row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-5">Warna</div>
			<div class="col-md-1" style="background-color: <%= Warna %>;  height: 15px;"></div>
		</div>
		<div class="row">
			<div class="col-md-5">Komentar Keseluruhan</div>
			<di>
				<textarea name="OverAllComment" rows="4" cols="50" style="border:  0; background-color: white;" disabled></textarea>
			</div>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom: 15px;">
	    <p class="panel-title">
	      Komentar Tindakan
	      <button class="btn btn-primary pull-right hide" name="add">Tambah Komentar Keseluruhan </button>
	      <button class="btn btn-primary pull-right hidden" name="edit">Ubah Komentar Keseluruhan </button>
	    </p>
	</div>
  </div>
</div>

<div class="card" obo-table-comment></div>
<div class="pull-right" obo-paging></div>