<ul class="breadcrumb">
	<li class="active">Matriks Risiko</li>
</ul>
<div class="col-md-12">
	<div class="col-md-8">
			<div class="col-md-3 kw-single-filter-text">
					<b>Nama Field</b>
					<select class='form-control' id="keyIndex">
						<option value='1'>Skenario</option>
						<option value='2'>Nama Proyek</option>
						<!-- <option value='3'>Status</option> -->
					</select>
				</div>
			<div class="col-md-3 kw-single-filter-text">
					<b>Status</b>
						<select class='form-control' id="keyIndex2">
						   <option value='5'>All</option>
						   <option value='1'>Proses Approval</option>
							<option value='2'>Disetujui</option>
							<option value='3'>Tidak Disetujui</option>
							<option value='4'>Draft</option>
							
						</select>
					</div>
		
		 <div class="col-md-3 kw-single-filter-text">
				<br>
          	<input type="text" placeholder="Search" class='form-control' id="keyword"/>
        </div>
        <div class="col-md-2 kw-single-filter-btn">
				<br>
        	<button type="button" class="btn btn-sm btn-primary" name="btn-filter">Filter</button>
        </div>
	</div>
</div>
<div class="card" obo-table-sublikelihood>
</div>
<div class="pull-right" obo-paging>
</div>

