<form class="modal-dialog modal-lg form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tambah Skenario</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Skenario *</label>
            <div class="col-md-8">
              <input type="text" value="" class="form-control" name="NamaScenario">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Parameter Likelihood *</label>
            <div class="col-md-6">
              <input type="text" value="" class="form-control" name="NamaLikehood" disabled>
            </div>
            <div class="col-md-2">
              <button class="btn btn-secondary btn pull-right" type="button" name="SelectLikelihood">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>Pilih
                </button>
              </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8" likelihood-table>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label class="col-md-2 control-label">Proyek *</label>
            <div class="col-md-10">
              <div class="col-md-2">
                <button class="btn btn-secondary btn" type="button" name="SelectProject">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i> Pilih
                </button>
                <button class="btn btn-secondary btn hidden" type="button" name="EditSelectProject">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i> Ubah
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
              <label class="col-md-2 control-label"></label>
              <div class="col-md-10">
                  <div class="col-md-12 scrollable-approval" project-table>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" name="btnDraft" class="btn btn-primary btn-s pull-xs-right">Simpan sebagai draft</button>
      <button type="submit" name="btnApprove" class="btn btn-primary btn-s pull-xs-right">Simpan untuk disetujui</button>
    </div>
  </div>
</form>
