<td><%= Id %></td>
<td><%= RequestId %></td>
<td><%= NamaApproval %></td>
<td><%= StatusApproval %></td>
<td><%= SourceApproval %></td>
<td class="text-center">

    <!-- <a class="btn btn-link" href="<% print(`${window.location.hash}/${Id}`); %>">Detail</a> -->
    <span>
    	<button type="button" class="btn btn-link" name="Open">
    		Open
    	</button>
    </span>

</td>
