<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Setting Risiko Matriks Approval</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="col-md-4 control-label">Approval</label>
              <div class="col-md-8">
                <input type="text" value="" class="form-control" name="Name" disabled>
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Proyek </label>
                <div class="col-md-8">
                  <input type="text" value="" class="form-control" name="NamaProject" disabled>
                </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Head User *</label>
              <div class="col-md-8" level-1-list>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Admin / CSF *</label>
              <div class="col-md-8" level-2-list>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">Admin Approver *</label>
              <div class="col-md-8" level-3-list>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
        <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
      </div>
    </div>
  </form>
  