<td><%= Role.Name %></td>
<td><%= Menu.Name %></td>
<td>
  <% if(Tambah) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td>
  <% if(Ubah) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td>
  <% if(Hapus) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td>
  <% if(Lihat) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td>
  <% if(Detail) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td>
  <% if(IsActive) { %>
    <span class="label label-success">Iya</span>
  <% } else { %>
    <span class="label label-danger">Tidak</span>
  <% } %>
</td>
<td class="text-center">
  <span><button type="button" class="btn btn-link" name="Edit">Ubah</button></span>
  <span><button type="button" class="btn btn-link" name="Delete">Hapus</button></span>
</td>
