<thead>
  <tr>
      <th>Nama Role</th>
      <th>Nama Menu</th>
      <th>Tambah</th>
      <th>Ubah</th>
      <th>Hapus</th>
      <th>View</th>
      <th>Detail</th>
      <th>Aktif</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
