<td>
  <%= UserName %>
</td>
<td>
  <%= Email %>
</td>
<td>
  <%= RoleSingle.Name %>
</td>
<td>
    <% if(Status){ %>
    <span class="label label-success">Aktif</span>
    <% } else { %>
    <span class="label label-danger">Tidak Aktif</span>
    <% } %>
</td>
<td class="text-center">
  <span>
    <button type="button" class="btn btn-link" name="Edit">Ubah</button>
  </span>
  <span>
    <button type="button" class="btn btn-link" name="Delete">Hapus</button>
  </span>
</td>