<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Ubah Kategori Risiko</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Kategori Risiko ID*</label>
            <div class="col-md-8">
              <input type="text" value="<%= KodeMRisk %>" class="form-control" name="KodeMRisk">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Kategori Risiko *</label>
            <div class="col-md-8">
              <input type="text" value="<%= NamaCategoryRisk %>" class="form-control" name="NamaCategoryRisk">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Definisi *</label>
            <div class="col-md-8">
              <input type="text" value="<%= Definisi %>" class="form-control" name="Definisi">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Minimum (%)*</label>
            <div class="col-md-8">
              <input type="text" value="<%= Minimum %>" class="form-control" name="Minimum" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Maksimum (%)*</label>
            <div class="col-md-8">
              <input type="text" value="<%= Maximum %>" class="form-control" name="Maximum" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
