<ul class="breadcrumb">
    <li>Master</li>
    <li class="active">Asset Data</li>
</ul>
<div class="row header mb10 margintop10">
    <div class="pull-right menu-action">
        <button class="btn btn-primary pull-xs-right" name="add">Add</button>
    </div>
</div>
<div class="card" obo-table-asset_data>
</div>
<div class="pull-right" obo-paging-asset_data>
	</div>
