<td>
    <%= NamaScenario %>
</td>
<td>
    <%= SourceApproval %>
</td>
<td>
    <%= NamaEntitas %>
</td>
<td>
    <%= User.UserName %>
</td>
<td>
    <% if(StatusId == 2) { %>
        <span class="label label-success">Disetujui</span>
    <% } else if (StatusId == null) { %>
        <span class="label label-default">Draft</span>
    <% } else if (StatusId == 3) { %>
        <span class="label label-danger">Tidak Disetujui</span>
    <% } else { %>
        <span class="label label-warning">Proses Approval</span>
    <% } %>
</td>
<td>
    <button type="button" class="btn btn-link" name="detail">Info</button>
</td>
