<thead>
    <tr>
        <th>Nama Skenario</th>
        <th>Menu</th>
        <th>Nama Skenario/Proyek/Sektor</th>
        <th>Requestor</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
</thead>
<tbody></tbody>
