<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Tambah Proyek</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="col-md-4 control-label">Nama Proyek *</label>
            <div class="col-md-8">
              <input type="text" value="" class="form-control" name="NamaProject">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Keterangan *</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="Keterangan" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Awal Proyek *</label>
            <div class="col-md-8 input-group">
              <input type="text" class="form-control datepicker" name="TahunAwalProject" >
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Akhir Proyek *</label>
            <div class="col-md-8 input-group">
              <input type="text" class="form-control" name="TahunAkhirProject" disabled />
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Minimum (%)*</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="Minimum" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Maksimum (%)*</label>
            <div class="col-md-8">
              <input type="text" class="form-control" name="Maximum" disabled />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Sektor *</label>
            <div class="col-md-8">
              <select class="form-control select" name="NamaSektor"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Tahapan Penjaminan *</label>
            <div class="col-md-8">
              <select class="form-control select" name="NamaTahapan"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">User *</label>
            <div class="col-md-8">
              <select class="form-control select" name="UserName"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Status *</label>
            <div class="col-md-8">
              <select class="form-control select" name="IsActive">
                <option value="true">Aktif</option>
                <option value="false">Tidak Aktif</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Kategori Risiko *</label>
            <div class="col-md-6">
              <textarea class="form-control" rows="2" id="Risk" name="ChosenRisk" disabled></textarea>
            </div>
            <div class="col-md-2">
              <button class="btn btn-secondary btn" type="button" name="SelectRisk">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                Pilih
              </button>
              <button class="btn btn-secondary btn hidden" type="button" name="EditSelectRisk">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i> Ubah
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
