<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Pilih Skenario</h5>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">

          <div class="form-group">
            <label class="col-md-4 control-label">Skenario 1 *</label>
            <div class="col-md-8" first-scenario>
              <!-- <select class="form-control select" name="NamaScenario" data="scenario0"></select> -->
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label">Skenario 2 *</label>
            <div class="col-md-8" second-scenario>
              <!-- <select class="form-control select" name="NamaScenario" data="scenario1"></select> -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <p class="pull-left ml15">Semua bidang yang ditandai dengan tanda bintang (*) wajib diisi.</p>
      <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Keluar</button>
      <button type="submit" class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
