<td>
	<%= NamaScenario %>
</td>
<td>
	<%= NamaMatrix %>
</td>
<td>
	<%= NamaFormula %>
</td>
<td>
	<span style="background-color:<%= Warna %>; color: <%= Warna %>;">_______</span>
</td>
<td>
	<%= Definisi %>
</td>
<td style="text-align: center">
	<%= NilaiMaksimum %>
</td>
<td style="text-align: center">
	<%= NilaiMinimum %>
</td>
<td>
	<%= Komentar %>
</td>
<td class="text-center">
	<span>
		<button type="button" class="btn btn-link hide" name="Edit">Ubah</button>
	</span>
</td>
<script lang="javascript">
	let roles = JSON.parse(localStorage.getItem('roles'));
	if (roles) {
		$.grep(roles, function (item) {
			if (item.Name.trim() == "Master") {
				if (item.SubMenu) {
					_.each(item.SubMenu, function (item) {
						switch (item.Name) {
							case "Master-Ambang Batas Resiko":
								if (item.SubMenu) {
									_.each(item.SubMenu, function (val) {
										switch (val.Action) {
											case "update":
												self.$('[name="Edit"]').removeClass('hide');
												break;
										}
									});
								}
								break;
						}
					});
				}
			}
		});
	}
</script>