<thead>
  <tr>
      <th>Nama Skenario</th>
      <th>Matriks</th>
      <th>Formula</th>
      <th>Warna</th>
      <th>Definisi</th>
      <th>Nilai Maksimum</th>
      <th>Nilai Minimum</th>
      <th>Komentar</th>
      <th class="th-header-custom">Aksi</th>
  </tr>
</thead>
<tbody></tbody>
