
    <div class="container">
      <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        <div class="col-md-4">
          <form>
            <div class="form-group-login has-feedback">
              <input type="text" class="form-control-login"  id="userName" placeholder="Username" required="" autofocus="" style="font-size: 16px;">
            </div>
            <div class="form-group-login has-feedback">
              <input type="password" class="form-control-login" id="password" placeholder="Password" required="">
            </div>
            
            <!-- <div class="form-check form-check-inline float-left">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Remember me</label>
            </div>
            <div class="form-check form-check-inline float-left">
              <a href=""><i class="far fa-envelope"></i>Forgot Password</a>
            </div> -->

            <button id="btnLogin" class="btn btn-primary-login form-control-login my-3" type="submit" obo-dologin style="font-size: 16px;">LOGIN</button>
            <section obo-errormessage style="display:none;">
                <div id="loginAlert" role="alert">
                  <label class="alert alert-danger fade in">
                    <div class="validation-summary-errors" data-valmsg-summary="true">
                      <ul>
                        <li>The username or password provided is incorrect or the user maybe inactive.</li>
                      </ul>
                    </div>
                  </label>
                </div>
              </section>
          </form>

        </div>
      </div>
    </div>
 