<div  obo-errormessage class="container-fluid" >
    <div class="container">
      <div class="row">
         
        <div class="col-md-4 loggin" style="">
          <form accept-charset="UTF-8" role="form" >
            <div class="form-group-login has-feedback">
                <div class="input-group">
                <span class="input-group-addon" style="border: 1px solid #ced4da;border-right-color: black;background-color: white; color: grey; border-color: transparent; height: calc(2.25rem + 19px);"><i class="glyphicon glyphicon-user"></i></span>
              <input type="text" class="form-control-login" name="username"  id="username" placeholder="Username" required="" autofocus="">
            </div>
            </div>
            <br>
            <div class="form-group-login has-feedback">
              <div class="input-group">
                <span class="input-group-addon" style="border: 1px solid #ced4da;border-right-color: black;background-color: white; color: grey; border-color: transparent; height: calc(2.25rem + 19px);"><i class="glyphicon glyphicon-lock"></i></span>
              
                <input type="password" class="form-control-login" name="password" id="password" placeholder="Password" required="">
              </div>
            </div>
            <br>
            <!-- <div class="form-check form-check-inline float-left">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Remember me</label>
            </div>style="position: fixed;
bottom: 200px;
right: 300px;
width: 300px;
"
            <div class="form-check form-check-inline float-left">
              <a href=""><i class="far fa-envelope"></i>Forgot Password</a>
            </div> -->

            <button id="btnLogin" class="btn btn-primary-login form-control-login my-3" type="submit" obo-dologin style="font-size: 1.875em">LOGIN</button>
            <br>
            <p align="center"><b> &#9400; 2018 PT Penjamin Infrastruktur Indonesia (Persero)</b></p>
            <section obo-errormessage style="display:none;">
                <div id="loginAlert" role="alert">
                  <label class="alert alert-danger fade in">
                    <div class="validation-summary-errors" data-valmsg-summary="true">
                      <ul>
                        <li>The username or password provided is incorrect or the user maybe inactive.</li>
                      </ul>
                    </div>
                  </label>
                </div>
              </section>
          </form>

        </div>
      </div>
    </div>
  </div>