<ul class="breadcrumb">
    <li>Risk Matriks</li>
    <li>Detail</li>
    <li class="active">Perbaharui Detail</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading clean">
    <p class="panel-title">
      Perbaharui Risk Matriks Detail
		<button type="button" class="btn btn-primary btn-s pull-xs-right pull-right" name="BackToDetail">Kembali</button>
    </p>
  </div>
  <div class="panel-body row" id="matrix-content">
	<div class="card">
		<div class="col-md-4" obo-table-likelihood>
		</div>
		<div class="col-md-8" style="margin-bottom: 15px;">
			<div class="row">
                <div class="col-md-12">
                	<div class="form-group">
                        <div class="col-md-3">
                            <label>Status</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8" align="left">
                        	<label kw-status></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Skenario</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8" align="left">
                            <label name="NamaProject"><%= Scenario && Scenario.NamaScenario %></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Proyek</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8" align="left">
                            <label name="NamaProject"><%= Project && Project.NamaProject %></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Periode Mulai Proyek</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <label name="TahunAwalProject"><%= moment(Project && Project.TahunAwalProject).format('MM/DD/YYYY') %></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>Periode Akhir Proyek</label>
                        </div>
                        <div class="col-md-1">
                            <label>:</label>
                        </div>
                        <div class="col-md-8">
                            <label name="TahunAkhirProject"><%= moment(Project && Project.TahunAkhirProject).format('MM/DD/YYYY') %></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12" align="left">
                            <label>Tahapan Proyek</label>
                        </div>
                        <div class="col-md-12" tab-content>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" align="left" style="margin-top: 20px; font-weight: bold;">
                            <!-- <input type="checkbox" name="IsSend" value="">Otomatis Ajukan Persetujuan<br> -->
                        </div>
                    </div>
                </div>
			</div>
		</div>
		<% var attrId = 0; let isExposureChanged = false; %>
		<div class="col-md-12 scrollable-matrix" style="margin-bottom: 15px;" obo-table-matrix>
		    <div class="col-md-12">
			    <table style="width:100%" class="table-risk-matrix">
					<tr class="td-risk-matrix">
					</tr>
					<tr class="td-risk-matrix">
						<td colspan="2"></td>
						<% _.each(StageTahunRiskMatrix, function(model) { %> 
							<td data-year class="td-risk-matrix" data="<%= model.Id %>" style="text-align: center">
								<label><%= model.Tahun %> (<%= model.Stage && model.Stage.NamaStage %> )</label>
							</td>
							<td data-year-id class="hidden">
								<label class="hidden"><%= model.Id %></label>
							</td>
						<% }); %>
					</tr>
					<% _.each(Project && Project.ProjectRiskStatus, function(modelRiskRegistrasi) { %> 
						<tr id="" class="td-risk-matrix">
							<td id="<%= modelRiskRegistrasi.RiskRegistrasiId %>" data-risk-registrasi class="td-risk-matrix" style="text-align: center">
								<label><%= modelRiskRegistrasi.KodeMRisk %></label>
								<input data-risk-registrasi-id value="<%= modelRiskRegistrasi.RiskRegistrasiId %>" class="hidden">
							</td>
							<td class="td-risk-matrix" style="height: 30px; text-align: center">Exposure</td>
							<% _.each(StageTahunRiskMatrix, function(model) { %> 
							
								<% if(modelRiskRegistrasi.IsProjectUsed) { %>
									<% attrId += 1;
			                        var currentRiskId = modelRiskRegistrasi.RiskRegistrasiId;
			                        var expValue = 0;
			                        if (model.RiskMatrixValue) {
			                            $.grep(model.RiskMatrixValue, function (item) {
			                                if (item.RiskRegistrasiId == currentRiskId) {
			                                    expValue = item.Values[0];
			                                }
			                            })
			                        }
									if(model.RiskMatrixValue) {
										const riskFiltered = model.RiskMatrixValue.filter((value) => {
			                                return value.RiskRegistrasiId === currentRiskId;
			                            });	
			                            isExposureChanged = riskFiltered[0].Colors[0];
									} %>
									<% if(isExposureChanged) { %>
										<td exposure-container-<%= modelRiskRegistrasi.Id %> td-data-risk="<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" class="td-risk-matrix" style="height: 30px;text-align: center;padding-left:5px;padding-right:5px; background-color: #ff2e2e;color: black;">
										<input type="text" class="text-right" tabIndex="<% print(attrId) %>" exposure-value lang="<%= model.Id %>" is-maximum-exposure maximum-exposure-for="<%= model.Id %>" for-validation data-risk="<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" id="exp-<%= model.Id %>" value="" name="Exposure-<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" style="width: 80px; border: none; margin-right: 5px; margin-left: 5px;  background-color: #ff2e2e;color: black;" placeholder="...">
									</td>
									<% } else { %>
										<td exposure-container-<%= modelRiskRegistrasi.Id %> td-data-risk="<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" class="td-risk-matrix" style="height: 30px;text-align: center;padding-left:5px;padding-right:5px;">
										<input type="text" class="text-right" tabIndex="<% print(attrId) %>" exposure-value lang="<%= model.Id %>" is-maximum-exposure maximum-exposure-for="<%= model.Id %>" for-validation data-risk="<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" id="exp-<%= model.Id %>" value="" name="Exposure-<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" style="width: 80px; border: none; margin-right: 5px; margin-left: 5px;" placeholder="...">
									</td>
									<% } %>	
									
								<% } else { %>
									<td exposure-container-<%= modelRiskRegistrasi.Id %> class="td-risk-matrix" style="height: 30px;text-align: center;padding-left:5px;padding-right:5px;background-color: #ebebe4;">
										<input type="text" class="text-right" data-risk="<%= modelRiskRegistrasi.RiskRegistrasiId %>-ForYear-<%= model.Id %>" id="exp-<%= model.Id %>" value="0" name="Exposure" style="width: 80px; border: none; margin-right: 5px; margin-left: 5px;" disabled>
									</td>
								<% } %>
							<% }); %>
						</tr>
						<tr id="" class="td-risk-matrix">
							<td class="td-risk-matrix" style="text-align: center"><%= modelRiskRegistrasi.KodeMRisk %></td>
							<td class="td-risk-matrix" style="height: 30px; text-align: center">Parameter</td>
							<% _.each(StageTahunRiskMatrix, function(model) { %> 
								<% if(modelRiskRegistrasi.IsProjectUsed) { %>
								<td id="likehoodfor-<%= model.Id %>" td-data-likelihood="likelihood-<%= model.Id %>-risk-<%= modelRiskRegistrasi.RiskRegistrasiId %>" class="td-risk-matrix" style="height: 30px;text-align: center">
									<select likelihood-value lang="<%= model.Id %>" id="<%= modelRiskRegistrasi.RiskRegistrasiId %>" name="DefinisiLikehoodFor-<%= model.Id %>-RiskFor-<%= modelRiskRegistrasi.RiskRegistrasiId %>">
										<% _.each(Scenario && Scenario.Likehood && Scenario.Likehood.LikehoodDetail, function(model) { %>
											<option value="<%= model.Id %>"><%= model.DefinisiLikehood %></option>
										<% }); %>
									</select>
								</td>
								<% } else { %>
								<td id="likehoodfor-<%= model.Id %>" td-data-likelihood="likelihood-<%= model.Id %>-risk-<%= modelRiskRegistrasi.RiskRegistrasiId %>" class="td-risk-matrix" style="height: 30px;text-align: center">
									<select likelihood-value lang="<%= model.Id %>" id="<%= modelRiskRegistrasi.RiskRegistrasiId %>" name="DefinisiLikehoodFor-<%= model.Id %>-RiskFor-<%= modelRiskRegistrasi.RiskRegistrasiId %>">
										<option value="0">-</option>
									</select>
								</td>
								<% } %>
							</td>
							<% }); %>
						</tr>
					<% }); %>
					<tr id="" class="td-risk-matrix">
						<td colspan="2" class="td-risk-matrix" style="height: 30px; text-align: center; background: #e8e8e8; font-weight: bold;">Maximum Exposure</td>
						<% _.each(StageTahunRiskMatrix, function(model) { attrId += 1; %> 
						<td id="year-<%= model.Id %>" lang="max-exposure-<%= model.Id %>" class="td-risk-matrix" style="height: 30px;text-align: center;padding-left:5px;padding-right:5px;">
							<input type="text" class="text-right" tabindex="<% print(attrId) %>" data-max-exposure-value validate-max-expose lang="<%= model.Id %>" data-risk="" id="max-exposure-<%= model.Id %>" name="max-exposure-<%= model.Id %>" value="" style="width: 80px; border: none; text-align: center; font-weight: bold;  margin-right: 5px; margin-left: 5px;" placeholder="...">
						</td>
						<% }); %>
					</tr>
				</table>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary btn-s pull-xs-right" btnDraft>Simpan sebagai draft</button>
				<button type="submit" class="btn btn-primary btn-s pull-xs-right" btnApprove>Simpan untuk disetujui</button>
		    </div>
		</div>
		
	</div>
	
  </div>
</div>


