<form class="modal-dialog modal-md form-horizontal" role="document" ehs-form>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Select Category Risk<button type="button" class="close" data-dismiss="modal">&times;</button></h5>
    </div>
    <div class="modal-body">
      <div class="row" kw-table></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-s pull-xs-right" data-dismiss="modal">Kembali</button>
        <button type="button" btn-save-chosen-risk class="btn btn-primary btn-s pull-xs-right">Simpan</button>
    </div>
  </div>
</form>
